*.h5
*.pt
*.ckpt
*.gguf
*.log
*.sqlite3
*.vscode/
*vector_store/
*.o
*.out
*.exe
*.o.*
*.out.*
*.a
*.dylib
*.cmake
*__pycache__*
*.DS_Store

# VS studio
.vs/
*/.vs/

# Binaries
bin/
bin-int/

# users
*.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
